{% load static %}
<nav class="navbar navbar-expand-lg">
   
    <div class="container">
        <img src="{% static 'img/logo.png' %}" class="logo-brand" alt="logo" style="width: 50px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-50 justify-content-around text-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" id="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galeria.html" id="galeria">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nosotros.html" id="nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html" id="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="formulario.html">Consultar Modelos</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}